<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict> <key>phrase</key> <string>#</string> <key>shortcut</key> <string>§Nb</string> </dict>
<dict> <key>phrase</key> <string>$</string> <key>shortcut</key> <string>§DO</string> </dict>
<dict> <key>phrase</key> <string>@</string> <key>shortcut</key> <string>§At</string> </dict>
<dict> <key>phrase</key> <string>[</string> <key>shortcut</key> <string>§&lt;(</string> </dict>
<dict> <key>phrase</key> <string>\</string> <key>shortcut</key> <string>§//</string> </dict>
<dict> <key>phrase</key> <string>]</string> <key>shortcut</key> <string>§)></string> </dict>
<dict> <key>phrase</key> <string>^</string> <key>shortcut</key> <string>§'></string> </dict>
<dict> <key>phrase</key> <string>`</string> <key>shortcut</key> <string>§'!</string> </dict>
<dict> <key>phrase</key> <string>{</string> <key>shortcut</key> <string>§(!</string> </dict>
<dict> <key>phrase</key> <string>|</string> <key>shortcut</key> <string>§!!</string> </dict>
<dict> <key>phrase</key> <string>}</string> <key>shortcut</key> <string>§!)</string> </dict>
<dict> <key>phrase</key> <string>¡</string> <key>shortcut</key> <string>§!I</string> </dict>
<dict> <key>phrase</key> <string>¢</string> <key>shortcut</key> <string>§Ct</string> </dict>
<dict> <key>phrase</key> <string>£</string> <key>shortcut</key> <string>§Pd</string> </dict>
<dict> <key>phrase</key> <string>¤</string> <key>shortcut</key> <string>§Cu</string> </dict>
<dict> <key>phrase</key> <string>¥</string> <key>shortcut</key> <string>§Ye</string> </dict>
<dict> <key>phrase</key> <string>¦</string> <key>shortcut</key> <string>§BB</string> </dict>
<dict> <key>phrase</key> <string>§</string> <key>shortcut</key> <string>§SE</string> </dict>
<dict> <key>phrase</key> <string>¨</string> <key>shortcut</key> <string>§':</string> </dict>
<dict> <key>phrase</key> <string>©</string> <key>shortcut</key> <string>§Co</string> </dict>
<dict> <key>phrase</key> <string>ª</string> <key>shortcut</key> <string>§-a</string> </dict>
<dict> <key>phrase</key> <string>«</string> <key>shortcut</key> <string>§&lt;&lt;</string> </dict>
<dict> <key>phrase</key> <string>¬</string> <key>shortcut</key> <string>§NO</string> </dict>
<dict> <key>phrase</key> <string>­</string> <key>shortcut</key> <string>§--</string> </dict>
<dict> <key>phrase</key> <string>®</string> <key>shortcut</key> <string>§Rg</string> </dict>
<dict> <key>phrase</key> <string>¯</string> <key>shortcut</key> <string>§'m</string> </dict>
<dict> <key>phrase</key> <string>°</string> <key>shortcut</key> <string>§DG</string> </dict>
<dict> <key>phrase</key> <string>±</string> <key>shortcut</key> <string>§+-</string> </dict>
<dict> <key>phrase</key> <string>²</string> <key>shortcut</key> <string>§2S</string> </dict>
<dict> <key>phrase</key> <string>³</string> <key>shortcut</key> <string>§3S</string> </dict>
<dict> <key>phrase</key> <string>´</string> <key>shortcut</key> <string>§''</string> </dict>
<dict> <key>phrase</key> <string>µ</string> <key>shortcut</key> <string>§My</string> </dict>
<dict> <key>phrase</key> <string>¶</string> <key>shortcut</key> <string>§PI</string> </dict>
<dict> <key>phrase</key> <string>·</string> <key>shortcut</key> <string>§.M</string> </dict>
<dict> <key>phrase</key> <string>¸</string> <key>shortcut</key> <string>§',</string> </dict>
<dict> <key>phrase</key> <string>¹</string> <key>shortcut</key> <string>§1S</string> </dict>
<dict> <key>phrase</key> <string>º</string> <key>shortcut</key> <string>§-o</string> </dict>
<dict> <key>phrase</key> <string>»</string> <key>shortcut</key> <string>§>></string> </dict>
<dict> <key>phrase</key> <string>¼</string> <key>shortcut</key> <string>§14</string> </dict>
<dict> <key>phrase</key> <string>½</string> <key>shortcut</key> <string>§12</string> </dict>
<dict> <key>phrase</key> <string>¾</string> <key>shortcut</key> <string>§34</string> </dict>
<dict> <key>phrase</key> <string>¿</string> <key>shortcut</key> <string>§?I</string> </dict>
<dict> <key>phrase</key> <string>À</string> <key>shortcut</key> <string>§A!</string> </dict>
<dict> <key>phrase</key> <string>Á</string> <key>shortcut</key> <string>§A'</string> </dict>
<dict> <key>phrase</key> <string>Â</string> <key>shortcut</key> <string>§A></string> </dict>
<dict> <key>phrase</key> <string>Ã</string> <key>shortcut</key> <string>§A?</string> </dict>
<dict> <key>phrase</key> <string>Ä</string> <key>shortcut</key> <string>§A:</string> </dict>
<dict> <key>phrase</key> <string>Å</string> <key>shortcut</key> <string>§AA</string> </dict>
<dict> <key>phrase</key> <string>Æ</string> <key>shortcut</key> <string>§AE</string> </dict>
<dict> <key>phrase</key> <string>Ç</string> <key>shortcut</key> <string>§C,</string> </dict>
<dict> <key>phrase</key> <string>È</string> <key>shortcut</key> <string>§E!</string> </dict>
<dict> <key>phrase</key> <string>É</string> <key>shortcut</key> <string>§E'</string> </dict>
<dict> <key>phrase</key> <string>Ê</string> <key>shortcut</key> <string>§E></string> </dict>
<dict> <key>phrase</key> <string>Ë</string> <key>shortcut</key> <string>§E:</string> </dict>
<dict> <key>phrase</key> <string>Ì</string> <key>shortcut</key> <string>§I!</string> </dict>
<dict> <key>phrase</key> <string>Í</string> <key>shortcut</key> <string>§I'</string> </dict>
<dict> <key>phrase</key> <string>Î</string> <key>shortcut</key> <string>§I></string> </dict>
<dict> <key>phrase</key> <string>Ï</string> <key>shortcut</key> <string>§I:</string> </dict>
<dict> <key>phrase</key> <string>Ð</string> <key>shortcut</key> <string>§D-</string> </dict>
<dict> <key>phrase</key> <string>Ñ</string> <key>shortcut</key> <string>§N?</string> </dict>
<dict> <key>phrase</key> <string>Ò</string> <key>shortcut</key> <string>§O!</string> </dict>
<dict> <key>phrase</key> <string>Ó</string> <key>shortcut</key> <string>§O'</string> </dict>
<dict> <key>phrase</key> <string>Ô</string> <key>shortcut</key> <string>§O></string> </dict>
<dict> <key>phrase</key> <string>Õ</string> <key>shortcut</key> <string>§O?</string> </dict>
<dict> <key>phrase</key> <string>Ö</string> <key>shortcut</key> <string>§O:</string> </dict>
<dict> <key>phrase</key> <string>×</string> <key>shortcut</key> <string>§*X</string> </dict>
<dict> <key>phrase</key> <string>Ø</string> <key>shortcut</key> <string>§O/</string> </dict>
<dict> <key>phrase</key> <string>Ù</string> <key>shortcut</key> <string>§U!</string> </dict>
<dict> <key>phrase</key> <string>Ú</string> <key>shortcut</key> <string>§U'</string> </dict>
<dict> <key>phrase</key> <string>Û</string> <key>shortcut</key> <string>§U></string> </dict>
<dict> <key>phrase</key> <string>Ü</string> <key>shortcut</key> <string>§U:</string> </dict>
<dict> <key>phrase</key> <string>Ý</string> <key>shortcut</key> <string>§Y'</string> </dict>
<dict> <key>phrase</key> <string>Þ</string> <key>shortcut</key> <string>§TH</string> </dict>
<dict> <key>phrase</key> <string>ß</string> <key>shortcut</key> <string>§ss</string> </dict>
<dict> <key>phrase</key> <string>à</string> <key>shortcut</key> <string>§a!</string> </dict>
<dict> <key>phrase</key> <string>á</string> <key>shortcut</key> <string>§a'</string> </dict>
<dict> <key>phrase</key> <string>â</string> <key>shortcut</key> <string>§a></string> </dict>
<dict> <key>phrase</key> <string>ã</string> <key>shortcut</key> <string>§a?</string> </dict>
<dict> <key>phrase</key> <string>ä</string> <key>shortcut</key> <string>§a:</string> </dict>
<dict> <key>phrase</key> <string>å</string> <key>shortcut</key> <string>§aa</string> </dict>
<dict> <key>phrase</key> <string>æ</string> <key>shortcut</key> <string>§ae</string> </dict>
<dict> <key>phrase</key> <string>ç</string> <key>shortcut</key> <string>§c,</string> </dict>
<dict> <key>phrase</key> <string>è</string> <key>shortcut</key> <string>§e!</string> </dict>
<dict> <key>phrase</key> <string>é</string> <key>shortcut</key> <string>§e'</string> </dict>
<dict> <key>phrase</key> <string>ê</string> <key>shortcut</key> <string>§e></string> </dict>
<dict> <key>phrase</key> <string>ë</string> <key>shortcut</key> <string>§e:</string> </dict>
<dict> <key>phrase</key> <string>ì</string> <key>shortcut</key> <string>§i!</string> </dict>
<dict> <key>phrase</key> <string>í</string> <key>shortcut</key> <string>§i'</string> </dict>
<dict> <key>phrase</key> <string>î</string> <key>shortcut</key> <string>§i></string> </dict>
<dict> <key>phrase</key> <string>ï</string> <key>shortcut</key> <string>§i:</string> </dict>
<dict> <key>phrase</key> <string>ð</string> <key>shortcut</key> <string>§d-</string> </dict>
<dict> <key>phrase</key> <string>ñ</string> <key>shortcut</key> <string>§n?</string> </dict>
<dict> <key>phrase</key> <string>ò</string> <key>shortcut</key> <string>§o!</string> </dict>
<dict> <key>phrase</key> <string>ó</string> <key>shortcut</key> <string>§o'</string> </dict>
<dict> <key>phrase</key> <string>ô</string> <key>shortcut</key> <string>§o></string> </dict>
<dict> <key>phrase</key> <string>õ</string> <key>shortcut</key> <string>§o?</string> </dict>
<dict> <key>phrase</key> <string>ö</string> <key>shortcut</key> <string>§O:</string> </dict>
<dict> <key>phrase</key> <string>÷</string> <key>shortcut</key> <string>§-:</string> </dict>
<dict> <key>phrase</key> <string>ø</string> <key>shortcut</key> <string>§O/</string> </dict>
<dict> <key>phrase</key> <string>ù</string> <key>shortcut</key> <string>§U!</string> </dict>
<dict> <key>phrase</key> <string>ú</string> <key>shortcut</key> <string>§U'</string> </dict>
<dict> <key>phrase</key> <string>û</string> <key>shortcut</key> <string>§U></string> </dict>
<dict> <key>phrase</key> <string>ü</string> <key>shortcut</key> <string>§U:</string> </dict>
<dict> <key>phrase</key> <string>ý</string> <key>shortcut</key> <string>§Y'</string> </dict>
<dict> <key>phrase</key> <string>þ</string> <key>shortcut</key> <string>§Th</string> </dict>
<dict> <key>phrase</key> <string>ÿ</string> <key>shortcut</key> <string>§y:</string> </dict>
</array>
</plist>
